@import "../css/pop-up.css";

@font-face {
    font-family: OpenSans-Regular;
    src: url(..//fonts/OpenSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #fff;
    font-family: OpenSans-Regular, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    background: url(..//img/main-bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.top-menu {
    height: 70px;
    background: rgba(0,0,0,0.4);
}

.top-menu .container {
    display: grid;
    grid-template: 100% / repeat(12, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.logo {
    grid-area: 1 / 5 / 1 / span 4;
    text-align: center;
    padding-top: 10px;
}

nav {
    grid-area: 1 / 2 / 1 / span 10;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0 10px;
}

.nav-menu li:nth-child(1) {
    grid-column: 1 / span 1;
}

.nav-menu li:nth-child(2) {
    grid-column: 2 / span 1;
}

.nav-menu li:nth-child(3) {
    grid-column: 6 / span 1;
}

.nav-menu li:nth-child(4) {
    grid-column: 7 / span 1;
}

.nav-menu input {
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    background: transparent;
    border: transparent;
    color: #f3df95;
    cursor: pointer;
}

.nav-menu input:hover {
    border: 2px solid #f3df95;
    border-radius: 3px;
    transition: .3s;
}

.timer {
    grid-area: 1 / 12 / 1 / span 1;
    font-size: 24px;
    color: #f3df95;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 2px solid #f3df95;
    border-radius: 3px;
}
